body {
  font-family: sans-serif;
  background-color: #000000;
  text-align: center;
  color: white;
}

.title {
  margin-top: 20px;
  text-decoration: underline;
}

.entry {
  margin-top: 10px;
}

.entryInput {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

.entrySubmit {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

.taskList {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.deleteButton {
  background: red;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white
}
